<!-- <router-outlet></router-outlet> -->


<section class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-9 col-md-11">
                <!-- <a href="careers-1.html">Back to Careers</a> -->
                <div class="card card-body shadow mt-4">
                    <div
                        class="d-flex flex-column flex-sm-row justify-content-between align-items-start pb-2 mb-2 mb-md-2">
                        <div class="mb-3">
                            <h1 class="mb-2">Patient Name : {{ visit?.Patient?.Name }}</h1>
                            <div class="lead">
                                National ID :{{ visit?.Patient?.NID }} - 
                                Profile Creation Date :{{visit?.Patient.ProfileCreationDate | date}}
                            </div>
                        </div>
                        <!-- <a href="#apply-form" class="btn btn-primary" data-smooth-scroll>Apply Now</a> -->
                    </div>


                    <!-- Diagnosis Div -->
                    <div class="diagnosis">
                        <div
                            class="d-flex flex-column flex-sm-row justify-content-between align-items-start pb-2 mb-2 mb-md-2">
                            <div class="mb-5 mb-md-0">
                                <h4 class="mb-2">Diagnosis made by Doctor :<span class="text-success">{{ visit?.Doctor?.Name }}</span></h4>
                                <div class="lead">Diagnosis Date: <span
                                        class="text-success">{{ visit?.DiagnosisDate | date }}</span></div>
                                <div class="lead">Revisit Date: <span class="text-success">{{ visit?.RevisitDate | date }}</span>
                                </div>
                            </div>
                            <!-- <a href="#apply-form" class="btn btn-primary" data-smooth-scroll>Apply Now</a> -->
                        </div>
                        <div
                            class="d-flex flex-column flex-sm-row justify-content-between align-items-start pb-2 mb-2 mb-md-2">
                            <div class="mb-3 mb-md-0">
                                <h5 class="mb-2 bg-light">Pressure:{{visit?.Pressure}}</h5>
                                <h5 class="mb-2 bg-light">Diabetes: {{visit?.Diabetes}}</h5>
                            </div>
                            <!-- <a href="#apply-form" class="btn btn-primary" data-smooth-scroll>Apply Now</a> -->
                        </div>
                        <article class="article">
                            <h5 class="bg-light">Diagnosis:</h5>
                            <p>
                                {{visit?.Diagnosis}}
                            </p>
                            <h5 class="bg-light">Medicines Described:</h5>
                            <!-- <p>
                            Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent
                            vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                        </p> -->
                            <table class="table table-light text-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Medicine Name</th>
                                        <th>How to use</th>
                                        <th>For How Much Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of visit?.Medicines">
                                        <td>{{item?.medicineName}}</td>
                                        <td>{{item?.medicineHowToUse}}</td>
                                        <td>{{item?.medicineForHowLong}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 py-3">
                                <h5 class="bg-light">Recommendations:</h5>
                                <ul *ngFor="let item of visit?.Recommendations">
                                    <li>
                                        {{ item?.RecommendationName }}
                                    </li>
                                </ul>
                            </div>

                        </article>
                    </div>

                    <!-- <hr> -->




                    <!-- Policy -->
                    <div class="mt-5 py-3 border-top">
                        <h6>Dr.care Diagnosis Policy</h6>
                        <small>
                            We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
                            All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.
                            The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. Therefore the Customers’ are encouraged to frequently visit these sections in order to be updated about the changes on the website. Modifications will be effective on the day they are posted.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>