<div class="container-fluid">
  <div class="row">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" #sidebar id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="cliniclist.component.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3"> WElcom <svg class="bi bi-person-fill" width="60px" height="50px"
              viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5 16s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H5zm5-6a3 3 0 100-6 3 3 0 000 6z"
                clip-rule="evenodd" />
            </svg>
            <i class="far fa-grin-hearts"></i></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <svg class="bi bi-arrow-left-short" width="3em" height="4em" viewBox="0 0 20 20" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M9.854 6.646a.5.5 0 010 .708L7.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M6.5 10a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
                clip-rule="evenodd" />
            </svg>
            <span>Home Page</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          <button type="button" class="btn mce-btn-group mce-btn-large btn-primary">
            HI Admin <span class="badge badge-light">
              <svg class="bi bi-award" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10 2l1.669.864 1.858.282.842 1.68 1.337 1.32L15.4 8l.306 1.854-1.337 1.32-.842 1.68-1.858.282L10 14l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L4.6 8l-.306-1.854 1.337-1.32.842-1.68 1.858-.282L10 2z" />
                <path d="M6 13.794V18l4-1 4 1v-4.206l-2.018.306L10 15.126 8.018 14.1 6 13.794z" />
              </svg></span> <br>
            In this page you will control the first cycle, you will be responsible for adding, deleting , editing
            clinics
            <br>
            I wish you enjoy we make it simple as possible
            <!-- <span class="sr-only">fsdfsdfsd</span> -->
          </button>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" (click)="toggoleSideBar" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->
      <div class="container-fluid">

        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">


            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search"
                    placeholder="Search for patients with National ID" type="search" #query [(ngModel)]="nameSerch" />
                  <div class="input-group-append">
                    <!-- <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button> -->
                  </div>
                </div>
              </form>
              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">



                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                  </a>
                  <!-- Dropdown - Messages fifth commeny ******** -->
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                      <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                          aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">

                    <div class="dropdown-divider"></div>

                  </div>
                </li>

              </ul>


            </nav>



            <!-- Begin Page Content -->
            <div class="container-fluid">


              <!-- Page Heading    forth comment -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

              </div>
              <!-- Content Row -->
              <div class="row">

                <!-- Adding modals  third comment  -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <button type="button" class="btn btn-primary btn-lg btn-block " data-toggle="modal"
                    data-target="#exampleModal">
                    ADD New Clinic
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Modal title <i
                              class="fad fa-clinic-medical"></i></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <input class="form-control" type="text" [(ngModel)]="newcli.Name" placeholder="Name">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Content Row -->

              <div class="row">

                <!-- Area Chart    second comment -->
                <div class="col-11">
                  <div class="card shadow mb-4">

                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">ALL Clinics</h6>

                    </div>
                  </div>
                </div>
                <!-- Card Body -->

                <!-- Pie Chart -->
                <div class="col-6" *ngFor="let item of (clinics | nameFilter:nameSerch) ">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">{{item.Name}}</h6>

                    </div>
                    <!-- Card Body    first comment -->
                    <div class="card-body">
                      <div class="mt-4 text-center small">

                        <a class=" m-3 btn btn-warning" routerLink="/admin/clinic/edit/{{item._id}}"> Edit </a>
                        <a class="btn btn-success" routerLink="/admin/clinic/details/{{item._id}}"> Details</a>
                        <a class="m-3 btn btn-danger" (click)="deleteOne(item._id)"> Delete </a>

                      </div>
                    </div>
                  </div>
                </div>


              </div>


            </div>


          </div>


        </div>
      </div>

    </div> <!-- end of page wrapper -->

  </div> <!-- end of first row -->

</div>





<!-- ************************************************************************************* -->
<!-- <div id="wrapper">

     <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="cliniclist.component.html">
      <div class="sidebar-brand-icon rotate-n-15">
      
      </div>
      <div class="sidebar-brand-text mx-3">SB Admin </div>
    </a> -->

<!-- Divider -->
<!-- <hr class="sidebar-divider my-0"> -->

<!-- Nav Item - Dashboard -->
<!-- <li class="nav-item active">
      <a class="nav-link" href="/"> -->
<!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
<!-- <span>Home Page</span></a>
    </li> -->

<!-- Divider -->
<!-- <hr class="sidebar-divider"> -->

<!-- Heading -->
<!-- <h1> <span class="badge badge-secondary"> clinic </span></h1> -->



<!-- Divider -->

<!-- Sidebar Toggler (Sidebar) -->
<!-- <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

     </ul> -->


<!-- </div>  


  </div>  
  <div class="col-10"> -->




<!-- serch section******************** -->
<!-- <section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-11 mx-auto pt-5">
                <h1 class="display-3">Search Center</h1>
                <div class="lead">Get advice and help from our expert team</div>
                <form class="mt-5 d-flex flex-column flex-md-row form-group">
                    <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search"  placeholder="Search for patients with National ID"   type="search" #query  [(ngModel)]="nameSerch" /> 
                
                  
                </form>
            </div>
        </div>
    </div>
  </section> 
  <br> <br> <br> -->

<!-- ***********body*************** -->


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg btn-block " data-toggle="modal" data-target="#exampleModal">
  ADD New Clinic
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Modal title <i class="fad fa-clinic-medical"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control"  type="text" [(ngModel)]="newcli.Name" placeholder="Name" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>    -->
<!-- end 10 row -->
<!-- 
<table class="table table-dark table-hover text-center">
  <thead class="thead-light"> 
     
       <th >Name</th>
      <th colspan="3"></th>
      
  </thead>
  <tbody>
      
          <tr *ngFor="let item of (clinics | nameFilter:nameSerch) ">    
             
              <td >{{item.Name}}</td>
              <a class=" m-3 btn btn-warning" routerLink="/admin/clinic/edit/{{item._id}}"> Edit </a>
              <a class="btn btn-success" routerLink="/admin/clinic/details/{{item._id}}"> Details</a>
              <a class="m-3 btn btn-danger" (click)="deleteOne(item._id)"> Delete </a>

          </tr>
      
  </tbody> 
</table> -->





<!-- </div> -->





<!-- <a class="btn btn-info p-2 m-2 " routerLink="/admin/clinic/add" >Add New new clinic</a> -->