<!-- ======================= Footer ======================= -->
<footer class="ftco-footer ftco-bg-dark ftco-section pt-3">
    <div class="container">


        <!-- Copyrights -->
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> 
                    All rights reserved | Made with <i class="icon-heart fa-heart fa-beat"></i> by <a 
                        target="_blank">
                        <span class="ftco-heading-2 logo">Dr.<span>Care's</span> Team</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
